storage:
  dbPath: {{ base_data_dir }}/cluster
  wiredTiger:
    engineConfig:
      cacheSizeGB: 2

systemLog:
  destination: file
  path: {{ log_dir }}/mongodb_cluster.log
  logAppend: true

net:
  port: {{ data_port }}
  bindIp: 0.0.0.0

processManagement:
  fork: false
  pidFilePath: /var/run/mongodb-cluster/mongodb_cluster.pid

replication:
  replSetName: {{ data_replset }}

sharding:
  clusterRole: shardsvr
