[Unit]
Description=MongoDB Config Server
After=network.target

[Service]
#Type=forking
User=mongod
Group=mongod
ExecStart=/usr/bin/mongod --config {{ config_dir }}/mongodb_meta.conf
PIDFile=/run/mongodb-meta/mongodb-meat.pid
RuntimeDirectory=mongodb-meta
RuntimeDirectoryMode=0755
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
