---
- name: Initialize data replica set (run once)
  shell: |
    mongosh --port {{ data_port }} --quiet --eval '
    rs.initiate({
      _id: "{{ data_replset }}",
      members: [
        { _id: 0, host: "{{ data_node_1 }}:{{ data_port }}" },
        { _id: 1, host: "{{ data_node_2 }}:{{ data_port }}" },
        { _id: 2, host: "{{ data_node_3 }}:{{ data_port }}" },
        { _id: 3, host: "{{ data_node_4 }}:{{ data_port }}" },
        { _id: 4, host: "{{ data_node_5 }}:{{ data_port }}" },
        { _id: 5, host: "{{ arbiter_server_node_1 }}:{{ arbiter_port }}", arbiterOnly: true }
      ]
    })
    '
  register: data_rs_init
  run_once: true
  delegate_to: 192.168.121.101

- name: Show data RS init result
  debug:
    var: data_rs_init.stdout
  run_once: true
  when: 
    - inventory_hostname in groups['data_nodes']
    - inventory_hostname == groups['data_nodes'][0]

- name: Wait for data replica set to stabilize
  pause:
    seconds: 50
  run_once: true
  when: 
    - inventory_hostname in groups['data_nodes']
    - inventory_hostname == groups['data_nodes'][0]


