---
# Task to add shard to cluster on active mongos node

- name: Add data replica set to mongos
  shell: |
    mongosh --host 192.168.121.101 --port {{ mongos_port }} --quiet --eval '
    sh.addShard("{{ data_replset }}/192.168.121.101:{{ data_port }},192.168.121.102:{{ data_port }},192.168.121.103:{{ data_port }},192.168.121.104:{{ data_port }},192.168.121.105:{{ data_port }}")
    sh.status()
    '
  register: shard_add
  run_once: true
  delegate_to: 192.168.121.101
  when: 
    - inventory_hostname in groups['data_nodes']
    - inventory_hostname == groups['data_nodes'][0]


- name: Show shard add result
  debug:
    var: shard_add.stdout_lines


- name: Check cluster status
  shell: |
    mongosh --port {{ mongos_port }} --quiet --eval 'sh.status()'
  register: cluster_status
  run_once: true
  delegate_to: 192.168.121.101
  when: 
    - inventory_hostname in groups['data_nodes']
    - inventory_hostname == groups['data_nodes'][0]

- name: Show cluster status
  debug:
    var: cluster_status.stdout
  run_once: true
  when: 
    - inventory_hostname in groups['data_nodes']
    - inventory_hostname == groups['data_nodes'][0]
